<header id="header">
  <div class="inner">
    <h1><a href="index.html" id="logo">ULegend</a></h1>
    <nav id="nav">
      <ul>
        <li class="current_page_item"><a href="index.html">Главная</a></li>
        <li><a href="/miph/">Мифология</a>
          <ul>
            <li><a href="/miph/">Славянская</a>
              <ul>
                <li><a href="/miph/">Мифы</a></li>
                <li><a href="/miph/">Обряды</a></li>
                <li><a href="/miph/">Бестенарий</a></li>
                <li><a href="/miph/">Амулеты</a></li>
              </ul>
            </li>
            <li><a href="/miph/">Кельтская</a>
              <ul>
                <li><a href="/miph/">Мифы</a></li>
                <li><a href="/miph/">Обряды</a></li>
                <li><a href="/miph/">Бестенарий</a></li>
                <li><a href="/miph/">Амулеты</a></li>
              </ul>
            </li>
            <li><a href="../Переходы/Классы/skandinav.html">Скандинавская</a>
              <ul>
                <li><a href="/miph/">Мифы</a></li>
                <li><a href="/miph/">Обряды</a></li>
                <li><a href="/miph/">Бестенарий</a></li>
                <li><a href="/miph/">Амулеты</a></li>
              </ul>
            </li>
            <li><a href="">Индийская</a>
              <ul>
                <li><a href="/miph/">Мифы</a></li>
                <li><a href="/miph/">Обряды</a></li>
                <li><a href="/miph/">Бестенарий</a></li>
                <li><a href="/miph/">Амулеты</a></li>
              </ul>
            </li>
            <li><a href="">Японская</a>
              <ul>
                <li><a href="/miph/">Мифы</a></li>
                <li><a href="/miph/">Обряды</a></li>
                <li><a href="/miph/">Бестенарий</a></li>
                <li><a href="/miph/">Амулеты</a></li>
              </ul>
            </li>
            <li><a href="">Китайская</a>
              <ul>
                <li><a href="/miph/">Мифы</a></li>
                <li><a href="/miph/">Обряды</a></li>
                <li><a href="/miph/">Бестенарий</a></li>
                <li><a href="/miph/">Амулеты</a></li>
              </ul>
            </li>
            <li><a href="Переходы/grek.html">Греческая</a>
              <ul>
                <li><a href="/miph/">Мифы</a></li>
                <li><a href="/miph/">Обряды</a></li>
                <li><a href="/miph/">Бестенарий</a></li>
                <li><a href="/miph/">Амулеты</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a  id="btn_modal_window" href="#">Регистрация</a></li>
        <div id="my_modal" class="modal">
          <div class="modal_content">
            <form slyle="font-family: Arial, Helvetica, sans-serif; box-sizing: border-box"action="action_page.php">
              <div class="container">
                <h3>Sing Up</h3>
                <p>Please fill this form and click button create an account</p>
                <hr>
                <lable for="email"><b>Email</b></lable>
                <input type="text" placeholder="Enter email" name="email" required>
                <label for="pass"><b>Crated password</b></label>
                <input type="text" placeholder="Please created password" name="pass" required>
                <label for="pass-repeat">Repeat password</label>
                <input type="password" placeholder="Repeat password" name="pass-repeat" required>
                <label>
                  <input type="checkbox"checked="checked" name="remeber" style="margin-bottom:15px">Remember Me
                </label>
                <p>By create an account you agree <a href="#" style="color: #4CAF50;">Terms Privacy</a>.</p>
                <div class="clearfix">
                  <button type="button">Cancel</button>
                  <button type="submit" class="signupbtn">Sign Up</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <li><a href="/sing_in/">Авторизация</a></li>
        <li><a href="/about/">О нас</a></li>
      </ul>
    </nav>
  </div>
</header>
